<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.protchenko.share_with_flutter">
    <application>
        <activity
            android:name="com.protchenko.share_with_flutter.ShareWithFlutterActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!--<intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>-->
        </activity>
    </application>
</manifest>
